<h1><%=title%></h1>
<div class = "card">
    <div class = "card-body">
        <div>
            <div><b><%=post.title%></b></div>
            <hr>
            <div><%=post.contents%></div>
            <br>
        </div>
        <div class = "card-footer" style="font-size:15px; color: red; text-align: center;">
            <span>작성자 : <%=post.writer%></span>
            <span class = "ms-3">작성일 : <%=post.pdate%></span>
        </div>
    </div>
</div>